@{
    ViewBag.Title = "Education";
}

<h2>@ViewBag.Message</h2>
<h3>HSC (Higher Secondary School Certificate)</h3>
<ul>
    <li><strong>INSTITUTE:</strong> Govt. Mohammadpur Model School & College</li><br />
    <li><strong>YEAR:</strong> 2019</li><br />
    <li><strong>GROUP:</strong> Science</li><br />
    <li><strong>RESULT:</strong> GPA: 4.42</li>
</ul>
<br />
<br />
<h3>SSC (Secondary School Certificate)</h3>
<ul>
    <li><strong>INSTITUTE:</strong> Govt. Mohammadpur Model School & College</li><br />
    <li><strong>YEAR:</strong> 2017</li><br />
    <li><strong>GROUP:</strong> Science</li><br />
    <li><strong>RESULT:</strong> GPA: 5.00</li>
</ul>

