@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to my Portfolio</h1>
    <p class="lead">
        Myself Rafid, currently studying CSE at AIUB. 
        I am a dedicated software developer with strong commitment to leadership and integrity. With a passion for technology and problem-solving. I strive to create innovative and efficient solutions.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Have a look at my Educational Qualifications</h2>
        <p><a class="btn btn-default" href="https://localhost:44396/Home/Education">Click Here! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Projects I have built</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://localhost:44396/Home/Project">Click Here! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Personal Information</h2>
        <p>Contact me by clicking below!!!</p>
        <p><a class="btn btn-default" href="https://localhost:44396/Home/Personal_info">Click Here! &raquo;</a></p>
    </div>
</div>