@{
    ViewBag.Title = "Personal Information";
}
<h2>@ViewBag.Message</h2>
<br />
<p><strong>NAME:</strong> MD Rafid Rahman</p>
<p><strong>ID:</strong> 20-42801-1</p>
<p><strong>EMAIL:</strong> <a href = "mailto:rafidrahman00@gmail.com"> rafidrahman00@gmail.com</a></p>
<p><strong>PHONE:</strong> +8801405868517</p>

