@{
    ViewBag.Title = "Projects";
}

<h2>@ViewBag.Message</h2>
<br /><br />
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align : center;
        }
    </style>
</head>
<body>

    <table style="width:100%">
        <tr>
            <th>Course</th>
            <th>Project Title</th>
            <th>Description</th>
        </tr>

        <tr>
            <td>OOP1 (JAVA)</td>
            <td>Marketing Management System</td>
            <td>This project is a strategic initiative focused on optimizing marketing operations through technology, data analysis, and coordinated efforts to achieve business objectives effectively.</td>
        </tr>

        <tr>
            <td>OOP2 (C#)</td>
            <td>Cinema Hall Management System</td>
            <td>This project is designed to efficiently oversee theater operations, including ticketing, scheduling, seat allocation, and customer experience enhancements, ensuring a seamless movie-going experience.</td>
        </tr>

        <tr>
            <td>Web Technology (PHP, HTML, CSS, JS)</td>
            <td>Event Management System</td>
            <td>This project is a comprehensive effort to streamline event planning, coordination, and execution, utilizing technology and processes to ensure successful and memorable events.</td>
        </tr>

        <tr>
            <td>Advanced Programming With JAVA</td>
            <td>Pharmacy Management System</td>
            <td>This project is an initiative aimed at optimizing pharmacy operations, including inventory management, prescription processing, and customer service, for efficient and accurate healthcare support.</td>
        </tr>
    </table>

</body>

