@{
ViewBag.Title = "Reference";
}
<h2>@ViewBag.Message</h2>
<br />
<ul>
    <li>
        <strong>DR. MD. ABDULLAH - AL - JUBAIR</strong>
        <p>DIRECTOR, FACULTY OF SCIENCE AND TECHNOLOGY, AIUB</p>
        <p>ASSISTANT PROFESSOR, Dept. of CSE, AIUB</p>
        <p><i><strong>EMAIL:</strong></i> <a href="mailto:abdullah@aiub.edu"> abdullah@aiub.edu</a></p>
    </li>
    <br />
    <br />
    <li>
        <strong>DR. KHONDAKER A. MAMUN</strong>
        <p>PROFESSOR, Dept. of CSE, UIU</p>
        <p>DIRECTOR, Institute of Research, Innovation, Incubation and Commercialisation (IRIIC)</p>
        <p><i><strong>EMAIL:</strong></i> <a href="mailto:mamun@cmedhealth.com"> mamun@cmedhealth.com</a></p>
    </li>

</ul>

